<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  <!-- DEBUT MODIFICATIONS VINCENT -->
  <script>console.log("Ceci est un test")</script>

    <script>
  console.log("HEAD CUSTOM CHARGE");

  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    }
  };
</script>

<script async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
  <!-- FIN MODIFICATIONS VINCENT -->
  
  </body>

</html>
